<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Workshop Overview, Jargon Busting, Computational Thinking</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-overview/03-jargon-busting/index.html">Jargon Busting</a></li>
      <li><a href="https://librarycarpentry.org/lc-overview/">Workshop Overview</a></li>
            <li><a href="https://librarycarpentry.org/lc-overview/04-computational-approach/index.html">A Computational Approach</a></li>
      <li><a href="https://librarycarpentry.org/lc-overview/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-data">Introduction to Working with Data(Regular Expressions)</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Working with Data (Regular Expressions)</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
      </div>

  <div class="row">

  <div class="col-md-6">
    <h3 id="syllabus-openrefine">OpenRefine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing Data</li>
      <li>Basic Functions</li>
      <li>Advanced Functions</li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/reference">Reference...</a></li>
    </ul>
  </div>
</div>
  
   <div class="col-md-6">
    <h3 id="syllabus-git">Managing Data with SQL</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-sql/01-introduction/index.html">Introduction to SQL</a></li>
      <li><a href="https://librarycarpentry.org/lc-sql/02-selecting-sorting-data/index.html">Selecting and sorting data</a></li>
      <li><a href="https://librarycarpentry.org/lc-sql/03-filtering/index.html">Filtering</a></li>
      <li><a href="https://librarycarpentry.org/lc-sql/04-aggregating-calculating/index.html">Aggregating & Calculating Values</a></li>
      <li><a href="https://librarycarpentry.org/lc-sql/05-ordering-commenting/index.html">Ordering & Commenting</a></li>
      <li><a href="https://librarycarpentry.org/lc-sql/06-joins-aliases/index.html">Joins and aliases</a></li>
      <li><a href="https://librarycarpentry.org/lc-sql/07-saving-queries/index.html">Saving queries</a></li>
      <li><a href="https://librarycarpentry.org/lc-sql/08-database-design/index.html">Database design</a></li>
      <li><a href="https://librarycarpentry.org/lc-sql/reference">Reference...</a></li>
    </ul>
  </div>
   </div>

  <div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Introduction to Git</h3>
    <ul>
      <li>Creating a repository</a></li>
      <li>Configuring Git</li>
      <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing State Changes with <code>status</code></li>
      <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Where to Host Work, and Why</li>
      <li><a href="https://librarycarpentry.org/lc-git/reference">Reference...</a></li>
    </ul>
  </div>
</div>  
